.selected {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    gap: 0.5rem;
}
.selected img {
    display: block;
    max-width: 155px;
}
.chartContainer {
    width: 50vw;
    height: 50vh;
    max-width: 800px;
    max-height: 480px;
    min-width: 300px;
    min-height: 150px;
    display: none;
}
.chartContainer.active {
    display: block;
}