.selected {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin: 0;
    padding: 0.5rem;
    gap: 0.5rem;
    max-width: 171px;
}
.selected img {
    display: block;
    max-width: 155px;
}