main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.counter {
    position: absolute;
    z-index: 100;
    top: calc(5rem + 5px);
    left: 5px;
}
.content-selected {
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.content-selected.active {
    display: flex;
}
.selected-tab {
    height: 3rem;
    /*background: var(--background2);*/
    background: rgb(44,47,51);
    background: linear-gradient(180deg, rgba(44,47,51,1) 0%, rgba(35,39,42,1) 71%, rgba(35,39,42,1) 100%);
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.selected-currencies {
    display: none;
    flex-flow: row wrap;
    justify-content: center;
}
.selected-currencies.active {
    display: flex;
}
.dev-btn {
    position: absolute;
    z-index: 100;
    top: calc(5rem + 20px);
    right: 20px;
    height: 30px;
    cursor: pointer;
    width: 30px;
}

.dev-btn .btn-bars {
    border: 1px solid white;
    width: 20px;
    transition: transform 0.5s;
    height: 0;
}

.dev-btn .btn-bar1 {
    transform: translateY(2px) translateX(6.5px) rotate(45deg);
}

.dev-btn .btn-bar2 {
    transform: translateX(-6.5px) rotate(-45deg);
}

.dev-btn.active .btn-bar1 {
    transform: translateY(2px) translateX(6.5px) rotate(-45deg);
}
.dev-btn.active .btn-bar2 {
    transform: translateX(-6.5px) rotate(45deg);
}
